# Required packages: gtest, gmock, ipopt, cmake, mujoco, range, glew, gnuplot, adolc

# To install Ipopt binaries/headers:
# For MacOS: `brew install dartsim/dart/ipopt` (mirrored tap during homebrew/core migration)
# https://github.com/robotology/homebrew-formulae/issues/12

# COPY THIS FILE TO LocalProperties.cmake AND FOLLOW THE INSTRUCTIONS BELOW

# Mujoco Root Directory, this should point to the "mjpro###" folder in the
# extracted zip you download
set (MUJOCO_ROOT_DIR "FIXME")

# Download Range-v3 source/headers from GitHub and point this to include folder
set (Range3_INCLUDE_DIR "FIXME")

# Download/Make/Install Adol-C and point this to the adolc_base folder
set (ADOLC_HOME "FIXME/adolc_base")